{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ],
    [
      "minify",
      {
        "builtIns": false,
        "mangle": {
          "topLevel": true
        }
      }
    ]
  ],
  "env": {
    "commonjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "comments": false
}
